.label {
    display: block;
    margin-bottom: 8px;
}


.input {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;

    color: #fff;
    font-size: 16px;
    line-height: 1.5;

    background-color: #555;
    border: 1px solid #888;
    border-radius: 3px;

    appearance: none;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        margin: 0;

        appearance: none;
    }

    &[type="number"] {
        appearance: textfield;
    }
}

.error {
    margin: 5px 0;

    color: #ff4d4f;
}